
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');

// index.js or main.js
@import '~vuetify/dist/vuetify.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
